@font-face {
    font-family: 'Alata';
    src: url('fonts/Alata-Regular.woff2') format('woff2'),
        url('fonts/Alata-Regular.woff') format('woff'),
        url('fonts/Alata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
