*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

:root {
/*Colors*/
--default-white: 0, 0%, 100%;
--default-black: 0, 0%, 0%;
--dark-gray: 0, 0%, 55%;
--very-dark-gray: 0, 0%, 41%;

/*Font Sizes*/
--default-font-size: 15px;
}

a {
    color: hsl(var(--default-black));
    text-decoration: none;
}

ul {
    list-style: none;
}