@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

:root {
/*Colors*/
--default-white: 0, 0%, 100%;
--default-black: 0, 0%, 0%;
--dark-gray: 0, 0%, 55%;
--very-dark-gray: 0, 0%, 41%;


--pixels-base: 16;
--font-pixels-custom: 15;
--font-size-custom: calc((var(--font-pixels-custom) / var(--pixels-base)) * 1rem);
}

body {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

a {
    color: hsl(var(--default-white));
    text-decoration: none;
}

ul {
    list-style: none;
}